.addTodoItem {
    padding: 1rem;
}

.addTodoItemContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.deadline.deadline {
    margin-top: 1.5rem;
}

.addBtn.addBtn {
    margin-top: 1rem;
    width: 10rem;
}

.addTodoItemIcon {
    margin-right: 0.5rem;
}