@import "../../style/variables.scss";

.cardContainer {
    width: 58rem;
}

.headerContainer {
    padding: 1rem;
  }
  
  .headerCard {
    background: $background-primary;
    color: white;
    font-size: 1.5rem;
  }

